<div class='row'>
	<div class='large-4 columns'>
		<h2>Lost password?</h2>
		<p>
			Must be 4-8-15-16-23-42.
		</p>
	</div>
	<div class='large-8 columns'>
		<h1>Log In</h1>
		<form action='/login' method='POST'>
			<p>
				<input type='text' id='email' name='email' placeholder='Email address'/>
			</p>
			<p>
				<input type='password' id='password' name='password' placeholder='Password'/>
			</p>
			<p>
				<input type='submit' value='Log in' class='button'/>
			</p>
		</form>
	</div>
</div>