<div class='row'>
	<div class='large-4 columns'>
		<h2>Lost password?</h2>
		<p>
			Must be 4-8-15-16-23-42.
		</p>
	</div>
	<div class='large-8 columns'>
		<h1>Log In</h1>
		<form action='/login' method='POST'>
			<div class='large-12 columns'>
				<input type='text' id='email' name='email' placeholder='Email address' class='large-4 columns'/>
			</div>
			<div class='large-12 columns'>
				<input type='password' id='password' name='password' placeholder='Password' class='large-4 columns'/>&nbsp;
				<button id='toggle-password-field' class='small button alert'>Show password</button>
			</div>
			<div class='large-12 columns'>
				<input type='submit' value='Log in' class='button'/>
			</div>
		</form>
	</div>
</div>