<h1>Welcome <%= @current_user.email %>!</h1>
<p>
</p>
<h5>Here are all the arrays you have tested:</h5>
<ul>
<% @current_user.sorted_arrays.each do |a| %>
<li>
<%= a.raw_array %>
<% end %>
</li>
</ul>