<body>
	<div>

	</div>
	<div class='bubblesort'>
		<h3>Bubble Sort</h3>
		<p></p>
	</div>

	<div class='mergesort'>
		<h3>Merge Sort</h3>
		<p></p>
	</div>

	<div class='quicksort'>
		<h3>Quicksort</h3>
		<p></p>
	</div>

</body>