<div class='controls'>
	<a href='#' id='generator' class='small button radius'>Generate</a>
	<span id='random_array'>[ ]</span>
</div>
<div class='controls'>
	<a href='#' id='sort_button' class='small button radius'>Sort!</a>
</div>

<div id='bubblesort'>
	<h3>Bubble Sort</h3>
	<p></p>
</div>

<div id='mergesort'>
	<h3>Merge Sort</h3>
	<p></p>
</div>

<div id='quicksort'>
	<h3>Quicksort</h3>
	<p></p>
</div>

<div id='mergesort_natural'>
	<h3>Merge Sort - Natural</h3>
	<p></p>
</div>