<body>
	<div id='generator'>
		<a href='#' id='generate_array' class='small button radius'>Generate</a>
		<span id='random_array'>[ ]</span>
	</div>
	<div id='sort_button'>
		<a href='#' id='generate_array' class='small button radius'>Sort!</a>
	</div>
	<div id='bubblesort'>
		<h3>Bubble Sort</h3>
		<p></p>
	</div>

	<div id='mergesort'>
		<h3>Merge Sort</h3>
		<p></p>
	</div>

	<div id='quicksort'>
		<h3>Quicksort</h3>
		<p></p>
	</div>

</body>