/*// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

$margin: 20px;

#random_array {
	font-size: 20px;
}

.controls {
	margin: $margin;
}

@mixin alg-box {
	margin: $margin;
	border: 1px solid black;
	border-radius: 5px;
	width: 900px;
	float: left;
	padding: 10px;
	p {
		margin: 0;
	}
}

#mergesort_natural {
	@include alg-box;
}

#mergesort {
	@include alg-box;
}

#bubblesort {
	@include alg-box;}

#quicksort {
	@include alg-box;
}