/*// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

@mixin alg-box {
	border: 1px solid black;
	border-radius: 5px;
	width: 200px;
	float: left;
	padding: 10px;
	p {
		margin: 0;
	}
}

.mergesort {
	@include alg-box;
	margin: 20px 20px 20px 0;
}

.bubblesort {
	@include alg-box;
	margin: 20px;
}

.quicksort {
	@include alg-box;
	margin: 20px 20px 20px 0;
}