<a href="https://github.com/thefarside112"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>

<nav class='top-bar'>
	<ul class='title-area'>
		<li class='name'>
			<h1><a href='#'>Algorithms</a></h1>
		</li>
		<li class='toggle-topbar menu-icon'><a href='#'><span>Menu</span></a></li>
	</ul>

	<section class='top-bar-section'>
		<ul class='left'>
			<li class='divider'></li>
			<li class='active'><a href='#'>Home</a></li>
			<li class='divider'></li>
			<li class='active'><a href="#">History</a></li>
			<li class='divider'></li>
			<li class='active'><a href="#">Stunning Visuals</a></li>
			<li class='divider'></li>
			<li class='has-dropdown'><a href="#">Explore Algorithms</a>
				<ul class='dropdown'>
					<li><a href="#">Bubble Sort</a></li>
					<li><a href="#">Bubble Bounce Sort</a></li>
					<li><a href="#">Merge Sort - Top Down</a></li>
					<li><a href="#">Merge Sort - Natural</a></li>
					<li><a href="#">Merge Sort - Bottom Up</a></li>
					<li><a href="#">Quicksort</a></li>
					<li><a href="#">Insertion Sort</a></li>
					<li><a href="#">Selection Sort</a></li>
					<li><a href="#">Shell Sort</a></li>
					<li><a href="#">Heapsort - Binary</a></li>
					<li><a href="#">Heapsort - Ternary</a></li>
					<li><a href="#">Introsort</a></li>
					<li><a href="#">Comb Sort</a></li>
					<li><a href="#">Radix Sort</a></li>
					<li><a href="#">Bucket Sort</a></li>
				</ul>
			</li>
		</ul>

		<ul class='right'>
			<li><a href="#">Sign In</a></li>
		</ul>
	</section>

</nav>